# Tipos de datos básicos y operadores.

**Objetivo.**
Explicar los tipos de variables básicas que existen en Python y cómo pueden ser usados en operaciones aritméticas y lógicas.

 <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://github.com/repomacti/macti/tree/main/notebooks/Algebra_Lineal_01">MACTI-Algebra_Lineal_01</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://www.macti.unam.mx">Luis M. de la Cruz</a> is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Attribution-ShareAlike 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p>

## Tipos básicos

En Python se tienen tres tipos de datos básicos principales:

|Tipo|Ejemplo|
|----|-------|
|Númerico|13, 3.1416, 1+5j|
| Cadena |"Frida", "Diego"|
| Lógico | True, False|

## Tipos númericos
En Python se tienen tres tipos de datos númericos:
1. Enteros
2. Reales
3. Complejos

A continuación se realiza una descripción de estos tipos numéricos. Más información se puede encontrar aquí: <a href="https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex">Numeric types</a>.

**1. Enteros**

Son aquellos que carecen de parte decimal. Para definir un entero hacemos lo siguiente:

In [18]:
entero = 13

Cuando se ejecuta la celda anterior, se crea el objeto `13` cuyo nombre es `entero`. Podemos imprimir el valor de `entero` y su tipo como sigue:

In [19]:
print(entero, type(entero))

13 <class 'int'>

Es posible obtener más información del tipo `int` usando la biblioteca `sys`:

In [20]:
# Importamos el módulo sys
import sys

# Revisamos la información del tipo entero
print(sys.int_info)

sys.int_info(bits_per_digit=30, sizeof_digit=4, default_max_str_digits=4300, str_digits_check_threshold=640)

Cuando tenemos número enteros muy grandes, por ejemplo: $21,346,765,890$ se puede usar el formato: `21_346_765_890` para hacer más claro el número:

In [1]:
# Este es un formato de número entero que usa _ para separar los miles
entero_grande = 21_346_765_890
print(entero_grande, type(entero_grande))

21346765890 <class 'int'>

Los números enteros también se pueden escribir en formato binario, octal y hexadecimal como sigue:

In [22]:
num_b = 0b01110 # Binario, debe iniciar con 0b
num_o = 0o12376 # Octal, debe iniciar con 0o
num_h = 0x12323 # Hexadecimal, debe iniciar con 0x

print(num_b, type(num_b))
print(num_o, type(num_o))
print(num_h, type(num_h))

14 <class 'int'>
5374 <class 'int'>
74531 <class 'int'>

**2. Reales**

Son aquellos que tienen una parte decimal. Para definir un número real (flotante) se hace como sigue:

In [23]:
pi = 3.141592

Cuando se ejecuta la celda anterior, se crea el objeto `3.141592` cuyo nombre es `pi`. Podemos imprimir el valor de `pi` y su tipo como sigue:

In [24]:
print(pi, type(pi))

3.141592 <class 'float'>

In [25]:
# Revisamos la información del tipo flotante
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

**3. Complejos**

Son aquellos que tienen una parte real y una parte imaginaria, y ambas partes son números reales. Por ejemplo:

$$
c = a + b \; j
$$

donde $a$ es la parte real y $b$ es la parte imaginaria identificada con la letra $j$.

Para definir un número complejo en Python se hace como sigue:

In [26]:
complejo = 12 + 5j # La parte imaginaria lleva una j al final

Cuando se ejecuta la celda anterior, se crea el objeto `12 + 5j` cuyo nombre es `complejo`. En este caso, el contenido de `complejo` tiene dos partes: la real y la imaginaria. Podemos imprimir el valor de `complejo` y su tipo como sigue:

In [27]:
print(complejo, type(complejo))

(12+5j) <class 'complex'>

In [28]:
complejo.imag # accedemos a la parte imaginaria

5.0

In [29]:
complejo.real # accedemos a la parte real

12.0

In [30]:
complejo.conjugate() # calculamos el conjugado del número complejo.

(12-5j)

### Operadores aritméticos

Para los tipos numéricos descritos antes, existen operaciones aritméticas que se pueden aplicar sobre ellos. Estas operaciones están organizadas como se muestra en la siguiente tabla:

| Categoría | Operadores |
|---|---|
| Exponenciación | `**` | 
| Multiplicación | `*`,`/`,`//`,`%` | 
| Adición | `+`,`-` |

Veamos algunos ejemplos:

In [31]:
# Suma
suma = 1 + 2

# Imprimimos el resultado y el tipo
print(suma, type(suma))

3 <class 'int'>

In [32]:
# Resta
resta = 5 - 32

# Imprimimos el resultado y el tipo
print(resta, type(resta))

-27 <class 'int'>

In [33]:
# Multiplicación
multiplicacion = 3 * 3

# Imprimimos el resultado y el tipo
print(multiplicacion, type(multiplicacion))

9 <class 'int'>

In [34]:
# División
division = 3 / 2

# Imprimimos el resultado y el tipo
print(division, type(division))

1.5 <class 'float'>

In [35]:
# División entera
# Divide los números y elimina la parte decimal
div_entera = 50 // 3

# Imprimimos el resultado y el tipo
print(div_entera, type(div_entera))

16 <class 'int'>

In [36]:
# Módulo
# Divide los números y regresa el residuo.
modulo = 50 % 3

# Imprimimos el resultado y el tipo
print(modulo, type(modulo))

2 <class 'int'>

In [37]:
# Potencia
potencia = 9**(2) # 9 al cuadrado

# Imprimimos el resultado y el tipo
print(potencia, type(potencia))

81 <class 'int'>

In [38]:
# Potencia
potencia = 81**(0.5) # raíz cuadrada de 81

# Imprimimos el resultado y el tipo
print(potencia, type(potencia))

9.0 <class 'float'>

In [39]:
# Potencia
potencia = 2**(0.35) # 2 elevado a la potencia 0.35

# Imprimimos el resultado y el tipo
print(potencia, type(potencia))

1.2745606273192622 <class 'float'>

<a name="precedencia">
    
### Precedencia de operadores.
</a>
La aplicación de los operadores tiene cierta precedencia que está definida en cada implementación del lenguaje de programación. La siguiente tabla muestra el orden en que se aplicarán los operadores. 

| Nivel | Categoría | Operadores|
|---|---|---|
| 7 | exponenciación | `**` |
| 6 | multiplicación | `*`,`/`,`//`,`%` |
| 5 | adición | `+`,`-`|
| 4 | relacional | `==`,`!=`,`<=`,`>=`,`>`,`<`|
| 3 | lógicos | `not` |
| 2 | lógicos | `and` |
| 1 | lógicos | `or` |

Como se puede ver, siempre se aplican primero los operadores aritméticos (niveles 7,6, y 5), luego los relacionales (nivel 4) y finalmente los lógicos (3, 2 y 1).

Más acerca de este tema se puede ver aquí: <a href="https://docs.python.org/3/reference/expressions.html#operator-summary">Operator precedence</a>.

A continuación se muestran ejemplos de operaciones aritméticas en donde se resalta esta precedencia:

In [40]:
# Precedencia de operaciones: primero se realiza la multiplicación
1 + 2 * 3 + 4

11

In [41]:
# Es posible usar paréntesis para modificar la precedencia: primero la suma
(1 + 2) * (3 + 4)

21

In [42]:
# Primero se realiza la exponenciación
3**2/2

4.5

### Operaciones entre tipos diferentes

Es posible combinar operaciones entre tipos de números diferentes. Lo que Python hará es promover cada número al tipo más sofisticado, siendo el orden de sofisticación, de menos a más, como sigue: `int`, `float`, `complex`.

In [43]:
# Operación entre enteros
a = 2 * 3
print(a, type(a))

6 <class 'int'>

In [44]:
# Operación entre entero y flotante
a = 2 * 3.0
print(a, type(a))

6.0 <class 'float'>

In [45]:
# Operación entre entero y complejo
a = 2 * (1 + 3j)
print(a, type(a))

(2+6j) <class 'complex'>

In [46]:
# Operación entre flotante y complejo
a = 2.0 * (1 + 3j)
print(a, type(a))

(2+6j) <class 'complex'>

In [47]:
# División entre enteros que da como resultado un flotante
a = 2/3
print(a, type(a))

0.6666666666666666 <class 'float'>

### Operadores de asignación

Existen varios operadores para realizar asignaciones:

| Operador | Operación | Equivalencia|
|---|---|---|
| `+=` | `suma += valor` | `suma = suma + valor` |
| `-=` | `resta -= valor` | `resta = resta - valor` |
| `*=` | `mult *= valor` | `mult = mult * valor` |
| `/=` | `div /= valor` | `div = div / valor` |
| `//=` | `div_int //= valor` | `div_int = div_int // valor` |
| `%=` | `modulo %= valor` | `modulo = modulo % valor` |
| `**=` | `pot **= valor` | `pot = pot ** valor` |

La forma de uso de estos operadores se muestra en los siguientes ejemplos:

In [48]:
valor = 1.0 
suma = 1.0
suma += valor  # Equivalente a : suma = suma + valor
print(suma)

2.0

In [49]:
valor =  4
resta = 16
resta -= valor # Equivalente a : resta = resta - valor
print(resta)

12

In [50]:
valor = 2
mult = 12
mult *= valor  # Equivalente a : mult = mult * valor
print(mult)

24

In [51]:
valor = 3
div = 50
div /= valor  # Equivalente a : div = div / valor
print(div)

16.666666666666668

In [52]:
valor = 3
div_int = 50
div_int //= valor  # Equivalente a : div_int = div_int / valor
print(div_int)

16

In [53]:
valor = 3
modulo = 50
modulo %= valor # Equivalente a : modulo = modulo % valor
print(modulo)

2

In [54]:
valor = 2
pot = 3
pot **= valor # Equivalente a : pot = pot ** valor
print(pot)

9

## Tipos lógicos

Es un tipo utilizado para realizar operaciones lógicas y puede tomar dos valores: `True` o `False`.

In [55]:
bandera = True
print(bandera, type(bandera))

True <class 'bool'>

In [56]:
bandera = False
print(bandera, type(bandera))

False <class 'bool'>

### Operadores relacionales

Cuando se aplica un operador relacional a dos expresiones, se realiza una comparación entre dichas expresiones y se obtiene como resultado un tipo lógico (`bool`): `True` o `False`.

Los operadores relacionales que se pueden usar son: 

| Operador | Operación | Significado|
|---|---|---|
| `==` | `A == B` | ¿Es A igual a B? |
| `!=` | `A != B` | ¿Es A diferente de B? |
| `>` | `A > B` | ¿Es A mayor que B? |
| `>=` | `A >= B` | ¿Es A mayor o igual a B? |
| `>` | `A < B` | ¿Es A menor que B? |
| `<=` | `A >= B` | ¿Es A menor o igual a B? |

A continuación se muestran algunos ejemplos:

In [57]:
# ¿Es 35 mayor que 562?
35 > 562

False

In [58]:
# ¿Es 32 mayor o igual que 21?
32 >= 21

True

In [59]:
# ¿Es 12 menor que 34?
12 < 34

True

In [60]:
# ¿Es 12 menor o igual que 25?
12 <= 25

True

In [61]:
# ¿Es 1 igual a 2?
1 == 2

False

In [62]:
# ¿Es 1 diferente de 2?
1 != 2

True

In [63]:
# Se pueden comparar otros tipos de datos
'aaa' == 'aaaA'

False

In [64]:
# La comparación se puede hacer con el resultado de expresiones
5 > len('5')

True

### Operaciones lógicas.

Los operadores lógicos que se pueden usar son: 

| Operador | Uso | Resultado |
|---|---|---|
| `not` | `not A` | Invierte el resultado de `A`|
| `and` | `A and B` | `True` si `A` y `B` son `True`; `False` en otro caso |
| `or` | `A or B`| `False` si `A` y `B` son `False`; `True` en otro caso |

Veamos algunos ejemplos

In [1]:
# Para que el resultado sea verdadero, se deben cumplir las dos expresiones
# que se encuentran a la derecha e izquierda del and. Si una de ellas no se
# cumple, el resultado será falso.
(5 < 32) and (63 > 32)

True

Debido a la precedencia de operadores (véase [Precedencia](#precedencia)), no son necesarios los paréntesis en la operaciones relacionales de la expresión anterior, por lo que es posible escribir:

In [2]:
5 < 32 and 63 > 32

True

Aunque a veces el uso de paréntesis hace la lectura del código más clara:

In [3]:
(2.32 < 21) and (23 > 63)

False

In [4]:
# Para que el resultado sea verdadero, se deben cumplir una de las dos expresiones
# que se encuentran a la derecha e izquierda del or. Si una de ellas se cumple, 
# el resultado será verdadero.
(32 == 21) or (5 < 31)

True

In [5]:
# Para que el resultado sea falso, ambas expresiones deben ser falsas.
(32 == 21) or (31 < 5)

False

In [6]:
# Invierte el resultado de la expresión
not True

False

In [7]:
not (32 != 32)

True

#### Comparación entre números flotantes.
La comparación entre números de tipo flotante debe realizarse con cuidado, veamos el siguiente ejemplo:

In [72]:
(0.4 - 0.3) == 0.1

False

El cálculo a mano de `(0.4 - 0.3)` da como resultado `0.1`; pero en una computadora este cálculo es aproximado y depende de las características del hardware (exponente, mantisa, base, etcétera). En Python el resultado de la operación `(0.4 - 0.3)` es diferente de `0.1`, veamos:

In [73]:
print(0.4 - 0.3)

0.10000000000000003

Python ofrece herramientas que permiten realizar una mejor comparación entre números de tipo flotante. Por ejemplo la biblioteca `math` contiene la función `isclose(a, b)` en donde se puede definir una tolerancia mínima para que las dos expresiones, `a` y `b` se consideren iguales (*cercanas*), por ejemplo:

In [74]:
# Importamos el módulo math
import math

# Utilizamos la función `isclose()` de math para comparar dos números flotantes
math.isclose((0.4 - 0.3), 0.1)

True

Se recomienda revisar el manual de [`math.isclose()`](https://docs.python.org/3/library/math.html) y el de [`numpy.isclose()`](https://numpy.org/doc/stable/reference/generated/numpy.isclose.html)para comparación de arreglos con elementos de tipo flotante.

## Conversión entre tipos (*casting*) 

Es posible transformar un tipo en otro tipo compatible; a esta operación se lo conoce como *casting*.

### Función `int()`

Transforma objetos en enteros, siempre y cuando haya compatibilidad.

In [75]:
cadena = '1000'
print(cadena, type(cadena))

entero = int(cadena)
print(entero, type(entero))

1000 <class 'str'>
1000 <class 'int'>

In [76]:
flotante = 3.141592
print(flotante, type(flotante))

entero  = int(flotante) # Trunca la parte decimal
print(entero, type(entero))

3.141592 <class 'float'>
3 <class 'int'>

In [77]:
complejo= 4-4j
entero = int(complejo) # Tipos NO COMPATIBLES

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [78]:
entero = int(True) 
print(entero)

1

### Función `str()`

Transforma objetos en cadenas, siempre y cuando haya compatibilidad.

In [79]:
entero = 1000
print(entero, type(entero))

cadena = str(entero) 
print(cadena, type(cadena))

1000 <class 'int'>
1000 <class 'str'>

In [80]:
complejo = 5+1j
print(complejo, type(complejo))

cadena = str(complejo)
print(cadena, type(cadena))

(5+1j) <class 'complex'>
(5+1j) <class 'str'>

### Función `float()`

Transforma objetos en flotantes, siempre y cuando haya compatibilidad.

In [81]:
cadena = '3.141592'
print(cadena, type(cadena))

real = float(cadena)
print(real, type(real))

3.141592 <class 'str'>
3.141592 <class 'float'>

In [82]:
float(33)

33.0

In [83]:
float(False)

0.0

In [84]:
float(3+3j) # NO hay compatibilidad

TypeError: float() argument must be a string or a real number, not 'complex'

En general, si existe el tipo `<class 'MiClase'>`, donde `MiClase` puede ser un tipo de dato definido dentro de Python, alguna biblioteca o creada por el usuario, es posible realizar el *casting* del objeto `a` al tipo `<class 'MiClase'>` haciendo : `MiClase(a)` siempre y cuando haya compatibilidad.

## Fuertemente tipado.

Python es fuertemente tipado, lo que significa que el tipo de un objeto no puede cambiar repentinamente; se debe realizar una conversión explícita si se desea cambiar el tipo de un objeto.

Esta característica también impide que se realizen operaciones entre tipos no compatibles. 

Veamos unos ejemplos:

In [85]:
real   = 220.0  
entero = 284
complejo = 1+1j

In [86]:
entero + real # Los tipos son compatibles

504.0

In [87]:
real + complejo # Los tipos son compatibles

(221+1j)

In [88]:
entero + complejo # Los tipos son compatibles

(285+1j)

Un tipo lógico se puede comportar como un entero, un flotante o un complejo, los tipos con compatibles. Para que un valor numérico sea considerado verdadero, debe ser equivalente al valor 1. Veamos los siguientes ejemplos:

In [90]:
lógico = True 
print(lógico == 1)
print(lógico == 1.0)
print(lógico == 1.0 + 0.0j)

True
True
True

In [91]:
print(lógico == 5)
print(lógico == 1.1)
print(lógico == 1.0 + 0.1j)

False
False
False

Entonces podemos realizar operaciones aritméticas entre lógicos, enteros, flotantes y complejos:

In [92]:
lógico + entero # Los tipos son compatibles

285

In [93]:
lógico + real # Los tipos son compatibles

221.0

In [94]:
lógico + complejo # Los tipos son compatibles

(2+1j)

Pero hay tipos que no son compatibles, por ejemplo:

In [95]:
cadena = 'El resultado es igual a '
cadena + real  # Los tipos no son compatibles

TypeError: can only concatenate str (not "float") to str

Sin embargo es posible hacer una conversión explícita, por ejemplo:

In [96]:
cadena + str(real)

'El resultado es igual a 220.0'

## Constantes

Python contiene una serie de constantes integradas a las que no se les puede cambiar su valor. 

Más detalles se pueden encontrar en: [Built-in Constants](https://docs.python.org/3/library/constants.html)

Las principales constantes son las siguientes:

- `False`: de tipo Booleano.
- `True`: de tipo Booleano.
- `None`: El único valor para el tipo NoneType. Es usado frecuentemente para representar la ausencia de un valor, por ejemplo cuando no se pasa un argumento a una función.
- `NotImplemented`: es un valor especial que es regresado por métodos binarios especiales (por ejemplo `__eq__()`, `__lt__()`, `__add__()`, `__rsub__()`, etc.) para indicar que la operación no está implementada con respecto a otro tipo. 

- `Ellipsis`: equivalente a `...`, es un valor especial usado mayormente en conjunción con la sintáxis de *slicing* de arreglos.

- `__debug__` : Esta constante es verdadera si Python no se inició con la opción -O. 

Las siguiente constantes son usadas dentro del intérprete interactivo (no se pueden usar dentro de programas ejecutados fuera del intérprete).

- `quit`(code=None)
- `exit`(code=None)
- `copyright`
- `credits`
- `license`

In [97]:
copyright()

Copyright (c) 2001-2023 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

In [99]:
credits()

    Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
    for supporting Python development.  See www.python.org for more information.

<div class="alert alert-block alert-success">

### Ejercicio 1.

<font color="Black">

Implementa la siguiente operación: $p = 6/2*(2+1)$. Almacena el tipo numérico del resultado como sigue: `tipo_p = type(p)`.
</font>
</div>

In [ ]:
# p = ...
# tipo_p = ...
### BEGIN SOLUTION
p = 6/2*(2+1) 
tipo_p = type(p)
### END SOLUTION

print(p, tipo_p)

<div class="alert alert-block alert-success">

### Ejercicio 2.

<font color="Black">

Define $𝜋100 = 314$ y $r = 6378$. Implementa la fórmula $a = 𝜋100 \times r^2$. Almacena el tipo numérico del resultado como sigue: `tipo_a = type(a)`.
</font>
</div>

In [60]:
# r = ...
# 𝜋100 = ...
# a = ...
# tipo_a = ...
### BEGIN SOLUTION
r = 5
𝜋100 = 314
a = 𝜋100 * r ** 2
tipo_a = type(a)
### END SOLUTION

print(a, tipo_a)

7850 <class 'int'>

<div class="alert alert-block alert-success">

### Ejercicio 3.

<font color="Black">

Implementa las siguientes fórmulas
$$
\begin{eqnarray}
n & = & na*m \\
M & = & C (1 + \dfrac{j}{m})^n
\end{eqnarray}
$$
y realiza una evaluación para $na = 2$, $m = 12$, $C = 250000$ y $j = 0.18. Almacena los siguientes tipos: `tipo_n = type(n)` y `tipo_M = type(M)`.
</font>
</div>

In [61]:
# na = ...
# ...
### BEGIN SOLUTION
na = 2
m = 12
C = 250000
j = 0.18

n = na * m
M = C * (1 + j/m)**n

tipo_n = type(n)
tipo_M = type(M)
### END SOLUTION

print(n, tipo_n)
print(M, tipo_M)

24 <class 'int'>
357375.70298225543 <class 'float'>

<div class="alert alert-block alert-success">

### Ejercicio 4.

<font color="Black">

Realiza la siguiente operación $suma = 1 + 2 + 3 + 4 + 5$ usando el operador `+=`. **Hint**. Inicializa `suma = 1`, posteriormente ve agregando el número correspondiente a `suma` usando `+=` hasta obtener el resultado correcto.
</font>
</div>

In [62]:
# suma = ...
# suma += ...
### BEGIN SOLUTION
suma = 1
suma += 2
suma += 3
suma += 4
suma += 5
### END SOLUTION

print(suma)

15

<div class="alert alert-block alert-success">

### Ejercicio 5.

<font color="Black">

Calcula el promedio de la siguiente lista de números: $3.4$, $5.6$, $2.9$, $3.8$, $4.5$. Primero suma todos los números y almacena el resultado en la variable `promedio`, posteriormente divide el resultado entre el total de números usando el operador `/=`.
</font>
</div>

In [63]:
# promedio = ...
# promedio /= ...
### BEGIN SOLUTION
promedio = 3.4 + 5.6 + 2.9 + 3.8 + 4.5
promedio /= 5
### END SOLUTION

print(promedio)

4.04

<div class="alert alert-block alert-success">

### Ejercicio 6.

<font color="Black">

Un ejemplo de serie geométrica es el siguiente:
   $$
   \text{serie} = \dfrac{1}{2} + \dfrac{1}{4} + \dfrac{1}{8} + \dfrac{1}{16} + \dfrac{1}{32} + \dots
   $$
   Observa que cada término sucesivo se obtiene al multiplicar el término anterior por $\dfrac{1}{2}$. Por ejemplo: $\dfrac{1}{8} = \dfrac{1}{4} \times \dfrac{1}{2}$.
   Implementa los primeros cinco términos de esta serie geométrica usando `*=` y `+=`.
   
   **Hint**. Define las variablee `geom = 1/2` y `serie = geom`, posteriormente construye cada elemento de la serie geométrica usando `geom` y `*=` y luego agrégalo a `serie` usando `+=`.

</font>
</div>

In [25]:
geom = 1/2 + 1/4 + 1/8 + 1/16
print(geom)

0.9375

In [64]:
# geom = 1/2
# serie = geom
# geom *= ...
# serie += ...
# ...
### BEGIN SOLUTION
geom = 1/2
serie = geom
geom *= 1/2
serie += geom
geom *= 1/2
serie += geom
geom *= 1/2
serie += geom
### END SOLUTION

print(geom)
print(serie)

0.0625
0.9375

<div class="alert alert-block alert-success">

### Ejercicio 7.

<font color="Black">

El movimiento del aire aumenta la velocidad de enfriamiento de los objetos calientes, de tal manera que en un clima frío el aire se siente más frío de lo que realmente es. A esto se le conoce como sensación térmica. 

* En norte América suele usarse la siguiente fórmula para cálcular la temperatura de sensación térmica en grados Celsius (también conocido como *wind chill index*):
$$
WCI = 13.12 + 0.6215 \times T_a - 11.37 \times V^{0.16} + 0.3965 \times T_a \times V^{0.16}
$$
donde $T_a$ es la temperatura del aire en grados Celsius y $V$ la velocidad del viento en kilómetros por hora. Esta fórmula sólo es válida para $T_a \leq 10 ^o$C y $V > 4.8$ **km/h**.

* Por otro lado, para calcular la temperatura aparente en situaciones de calor (también conocido como *índice de calor*), suele utilizarse la fórmula:
$$
IC = 33 + (T_a - 33) \times (0.474 + 0.454 \times V^{0.5}-0.0454 \times V)
$$
donde $V$ está dada en metros por segundo.

Calcula el $WCI$ o el $IC$ dependiendo de la temperatura para las siguientes ciudades:

1. Fairbanks, AK, Estados Unidos: $T_a = 7 \; ^o$C y $V = 8$ **km/h**. Almacena el resultado en la variable `ciudad_1`.
2. Yukon Crossing, Yukón, Canadá: $T_a = 10 \; ^o$C y $V = 4$ **km/h**. Almacena el resultado en la variable `ciudad_2`.
3. Orlando, FL, Estados Unidos: $T_a = 26 \; ^o$C y $V = 21$ **km/h**. Almacena el resultado en la variable `ciudad_3`.
4. Cancún, Quintana Roo, México: $T_a = 32 \; ^o$C y $V = 20$ **km/h**. Almacena el resultado en la variable `ciudad_4`.

**Notas**.
* Recuerda que para la fórmula del $IC$ la velocidad debe estar dada en **m/s**.
* Para convertir de **km/h** a **m/s**, debes multiplicar por $1000$ y dividir por $3600$, por ejemplo:
    *  $10$ **km/h** $= 10 \times 1000 / 3600$ **m/s** $= 2.77$ **m/s**.
</font>
</div>

In [84]:
# 1. Fairbanks, AK, EEUU
V = 8  # km/h
Ta = 7 # Celsius

# Podemos checar: Ta <= 10 y V > 4.8:
print(Ta <= 10 and V > 4.8)

# ciudad_1 = ...
### BEGIN SOLUTION
# Como Ta es menor que 10, entonces usamos WCI
ciudad_1 = 13.12 + 0.6215 * Ta - 11.37 * V**(0.16) + 0.3965 * Ta * V**(0.16)
### END SOLUTION

print(ciudad_1)

True
5.483375559551442

In [85]:
# 2. Yukon Crossing, Yukón, Canadá
V = 5   # km/h
Ta = 4 # Celsius

# Podemos checar: Ta <= 10 y V > 4.8:
print(Ta <= 10 and V > 4.8)

# ciudad_2 = ...
### BEGIN SOLUTION
# Como Ta es menor que 10, entonces usamos WCI
ciudad_2 = 13.12 + 0.6215 * Ta - 11.37 * V**(0.16) + 0.3965 * Ta * V**(0.16)
### END SOLUTION

print(ciudad_2)

True
2.948391910660282

In [86]:
# 3. Orlando, FL, Estados Unidos
V = 21  # km/h
Ta = 26 # Celsius

# Podemos checar: Ta <= 10 y V > 4.8:
print(Ta <= 10 and V > 4.8)

# ciudad_3 = ...
### BEGIN SOLUTION
# Como Ta es mayor que 10, entonces usamos IC
V = V * 1000/3600 # Convertimos a m/s
ciudad_3 = 33 + (Ta - 33) * (0.474 + 0.454 * V**(1/2) - 0.0454 * V)
### END SOLUTION

print(ciudad_3)

False
23.860234116768325

In [87]:
# 4. Cancún, Quintana Roo
V = 20  # km/h
Ta = 32 # Celsius

# Podemos checar: Ta <= 10 y V > 4.8:
print(Ta <= 10 and V > 4.8)

# ciudad_4 = ...
### BEGIN SOLUTION
# Como Ta es mayor que 10, entonces usamos IC
V = V * 1000/3600 # Convertimos a m/s
ciudad_4 = 33 + (Ta - 33) * (0.474 + 0.454 * V**(1/2)-0.0454 * V)
### END SOLUTION

print(ciudad_4)

False
31.70813396002658