# Estructura de datos: tuplas

**Objetivo.**
Describir la estructura de datos `tuple `.

 <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="https://github.com/repomacti/introduccion_python">Introducción a Python</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://gmc.geofisica.unam.mx/luiggi">Luis Miguel de la Cruz Salas</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p>

# Introducción

La siguiente tabla resume los cuatro tipos de *colecciones* que se tienen en Python:

|Tipo|Ordenada|Inmutable|Indexable|Duplicidad|
|-:|:-:|:-:|:-:|:-:|
|List |SI|NO|SI|SI|
|Tuple|SI|SI|SI|SI|
|Sets |NO|NO|NO|NO|
|Dict |NO|NO|SI|NO|

# Tuplas

* Consisten en una secuencia **ordenada** e **inmutable** de elementos. 
    - **Ordenadas** significa que cada elemento dentro de la tupla está indexado y mantiene su orden definido en su creación.
    - **Inmutable** significa que los elementos de la tupla **NO se pueden modificar**, tampoco que se pueden agregar o eliminar elementos.
* Las tuplas pueden tener elementos **duplicados**, es decir, **elementos del mismo tipo y con el mismo contenido**.
* Las tuplas se definen usando paréntesis `()` y `,` para separar sus elementos.

<div class="alert alert-info">

## Ejemplo 1.

<font color="Black">
    
Construiremos las siguientes tuplas:

```python
t1 = ('a', 'b', 'c', 'b', 'd', 'e', 'f', 'z')
t2 = (1, 2, 3, 4, 5, 6, 7, 8)
t3 = (['Persa', 'Sphynx'], [2.3, 3,5])
```
</font>
</div>

In [38]:
t1 = ('a', 'b', 'c', 'b', 'd', 'e', 'f', 'z')
t2 = (1, 2, 3, 4, 5, 6, 7, 8)
t3 = ('gatos', ['Persa', 'Sphynx'], (2.3, 3.5))

In [39]:
print(t1, type(t1))
print(t2, type(t2))
print(t3, type(t3))

('a', 'b', 'c', 'b', 'd', 'e', 'f', 'z') <class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8) <class 'tuple'>
('gatos', ['Persa', 'Sphynx'], (2.3, 3.5)) <class 'tuple'>

* Observa que la tupla `t1` y `t1` contienen elementos del mismo tipo (`str` e `int`).
* Las tuplas pueden tener elementos repetidos como en `t2`.
* La tupla `t3` contiene tres elementos, cada uno de distinto tipo: `str`, `list` y `tuple`.

Si deseamos una tupla de un solo elemento debemos realizar lo siguiente:

In [40]:
tupla_un_elemento = (1,)
print(tupla_un_elemento, type(tupla_un_elemento))

(1,) <class 'tuple'>

La siguiente expresión no construye una tupla, si no un entero:

In [41]:
tupla_un_elemento = (1)
print(tupla_un_elemento, type(tupla_un_elemento))

1 <class 'int'>

## Indexado.

El indexado de las tuplas es similar al de las listas. Por ejemplo, suando la tupla `t1`:

In [42]:
print(t1)

('a', 'b', 'c', 'b', 'd', 'e', 'f', 'z')

In [43]:
t1[0]  # Primer elemento

'a'

In [44]:
t1[-1] # Último elemento

'z'

In [48]:
t1[2:5] # Todos los elementos, desde el 2 hasta el 4

('c', 'b', 'd')

In [49]:
t1[::-1] # Todos los elementos en reversa

('z', 'f', 'e', 'd', 'b', 'c', 'b', 'a')

Usando el indexado, podemos ver el contenido y tipo de los elementos, por ejemplo:

In [47]:
print(t3[0], type(t3[0])) # Elemento 1
print(t3[1], type(t3[1])) # Elemento 2
print(t3[2], type(t3[2])) # Elemento 3

gatos <class 'str'>
['Persa', 'Sphynx'] <class 'list'>
(2.3, 3.5) <class 'tuple'>

Observa que los elementos 2 y 3 son una lista y una tupla respectivamente. La primera de ellas contiene cadenas, mientras que la segunda contiene flotantes.

Podemos acceder a los elementos individuales de esa lista y esa tupla:

In [52]:
# Primer elemento de la lista t3[1]
print(t3[1][0], type(t3[1][0]))

# Segundo elemento de la tupla t3[2]
print(t3[2][1], type(t3[2][1]))

Persa <class 'str'>
3.5 <class 'float'>

Las tuplas son usadas, entre otras cosas, para regresar valores o enviar argumentos a funciones.

## Inmutabilidad

Los elementos de las tuplas no se pueden modificar. Por ejemplo, si intentamos modificar el elemento tres de la tupla `t1` obtendremos un error:

In [56]:
t1[2] = 'h'

TypeError: 'tuple' object does not support item assignment

## Funciones incorporadas que operan sobre las tuplas.

Práctiamente todas las funciones incorporadas que se aplican a las listas, se pueden aplicar a las tuplas, por ejemplo:

In [68]:
print(len(t1))
print(max(t1))
print(min(t1))
print(all(t2))
print(any(t2))
print(sorted(t1))
print(sum(t2))

8
z
a
True
True
['a', 'b', 'b', 'c', 'd', 'e', 'f', 'z']
36

In [75]:
# Enumera los elementos de una tupla regresando tuplas (i, elemento)
list(enumerate(t1))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'b'),
 (4, 'd'),
 (5, 'e'),
 (6, 'f'),
 (7, 'z')]

In [73]:
# Agrupa los elementos de dos tuplas regresando tuplas: (t1[i], t2[i])
tuple(zip(t1, t2))

(('a', 1),
 ('b', 2),
 ('c', 3),
 ('b', 4),
 ('d', 5),
 ('e', 6),
 ('f', 7),
 ('z', 8))

Observa que para el caso de `enumerate` y  `zip` el resultado se debe convertir a un tipo que se pueda desplegar. Podemos elegir convertir a una lista o a una tupla para desplegar el resultado.

Se pueden agrupar dos tuplas con `zip` aunque sean de distinto tamaño:

In [79]:
list(zip(t3, t2))

[('gatos', 1), (['Persa', 'Sphynx'], 2), ((2.3, 3.5), 3)]

Se puede agrupar una tupla y una lista:

In [96]:
list(zip((1,2,3,4,5),['a','b','c','d','e']))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

## Operadores sobre tuplas

Se pueden usar los operadores `+`, `*` e `in` sobre las tuplas.

In [84]:
t1 + t2

('a', 'b', 'c', 'b', 'd', 'e', 'f', 'z', 1, 2, 3, 4, 5, 6, 7, 8)

In [86]:
t3 * 2

('gatos',
 ['Persa', 'Sphynx'],
 (2.3, 3.5),
 'gatos',
 ['Persa', 'Sphynx'],
 (2.3, 3.5))

In [87]:
'Persa' in t3

False

In [88]:
'Persa' in t3[1]

True

## Métodos de las listas (comportamiento)

La clase `<class 'tuple'>` define dos métodos que se pueden aplicar sobre los objetos del tipo `tuple`:

* `tuple.index(o)`: regresa el índice donde está el objeto `o` dentro de la tupla
* `tuple.count(o)`: cuenta las veces que aparece el objeto `o` en la tupla.

Por ejemplo:

In [92]:
t1.index('z')

7

In [93]:
t1.count('b')

2

## ¿Copiando tuplas?

No es posible crear una copia de una tupla en otra. Lo que se recomienda es transformar la tupla en otra estructura de datos compatible (por ejemplo `list` o `set`).

Si intentamos realizar una copia obtendremos el mismo objeto:

In [7]:
# nueva tupla
t1 =(1,3) 

# copiando todos los elementos de t1 en t2
t2 = t1[:] 

# copiando usando el módulo copy
import copy
t3 = copy.copy(t1)

In [8]:
print(t1, type(t1), id(t1))
print(t2, type(t2), id(t2))
print(t3, type(t3), id(t3))

(1, 3) <class 'tuple'> 140282478820544
(1, 3) <class 'tuple'> 140282478820544
(1, 3) <class 'tuple'> 140282478820544

Observa que las tres tuplas tienen el mismo identificador en memoria.